* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
}
.faqSection {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
  color: white;
}
.faqTitle {
  font-weight: 400;
  font-size: 40px;
}
button {
  color: white;
}
li {
  list-style-type: none;
}
