* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* --- CONTAINER AND BACKGROUND ---  */

.container {
    height: 95vh;

}

.background-img {
    position: absolute;
    width: 100%;
    height: 95vh;
    object-fit: cover;
}


.backgroundcolor {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.996) 0, rgba(0, 0, 0, 0.342) 60%, rgba(0, 0, 0, 0.775) 100%);
    position: absolute;
    height: 95vh;
    width: 100%;
}

/* ---HEADER--- */

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 11rem;

}

.header-right-side {
    position: relative;
    text-align: right;
}


.img-logo {
    position: relative;
    width: 9.25rem;
    height: 2.5rem;
    color: rgba(229, 9, 20, 1);
}

.img-globo {
    width: 19px;
    position: relative;
    left: 32px;
    top: 5px;
    max-width: 19px;
    min-width: 19px;
}


.select-language {
    margin-right: 1rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.4rem 0.6rem 0.25rem 2rem;
    background: rgba(61, 58, 58, 0.105);
    border: 0.2px solid rgba(255, 255, 255, 0.26);
    border-radius: 0.25rem;
}

.select-language:focus {
    border: 2px solid white;
}

.login-button {
    color: white;
    width: auto;
    font-size: 0.875rem;
    font-weight: 600;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background: rgb(229, 9, 20);
    border: 0;
    border-radius: 0.25rem;
}

.login-button:active:hover {
    background-color: rgb(162, 0, 8);
    ;
}

.login-button:hover {
    background: rgb(193, 17, 25);
    cursor: pointer;
}

.start-button a,
.login-button a {
    text-decoration: none;
    color: white;
}


/* ---CENTER CONTENT---  */

.titles {
    position: relative;
    text-align: center;
    color: white;
    margin: 5rem 1.7rem 2rem;
}

.headerTitle1,
.headerP {
    margin: 20px 0;

}

.headerTitle1 {
    font-size: 3.4rem;
}

.headerP {
    font-size: 1.4rem;
}





/* ---INPUT EMAIL AND START BUTTON---  */



/* ---- INPUT FORM EMAIL ---- */

.form-email {
    width: 80%;
    position: relative;
    margin: 2rem auto 2rem;
    max-width: 37.625rem;
    display: flex;
    border: 0 solid transparent;
}

.input-container {
    width: 100%;
}

.form-email input {
    width: 100%;
    font-size: 1.1rem;
    color: white;
    padding: 1.5rem 1.5rem 0.7rem;
    background: rgba(35, 35, 35, 0.534);
    border: 0.2px solid rgba(255, 255, 255, 0.522);
    border-radius: 0.25rem;
}


.form-email span {
    pointer-events: none;
    position: absolute;
    top: 1.15rem;
    left: 2rem;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    transition: 0.2s ease;
}

.form-email input:not(:placeholder-shown)~span {
    font-size: 13px;
    top: 3px;
}

.form-email input:focus~span {
    font-size: 13px;
    top: 3px;
}





/* -------- START-BUTTON -------- */



.start-button {
    width: 22%;
    min-width: 7rem;
    margin-left: 0.67rem;
    font-size: 1.3rem;
    font-weight: 600;
    min-height: 3.5rem;
    padding: 15px 2.5rem 0.5rem 1.5rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    border: 0 solid transparent;
    display: flex;
}

.start-button:active:hover {
    background-color: rgb(162, 0, 8);
    ;
}

.img-arrow {
    margin-bottom: 10px;
    margin-left: 5px;
    width: 1rem;
}

.start-button:hover {
    background: rgb(193, 17, 25);
    cursor: pointer;
}




/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 323px) {
    header {
        padding: 1.5rem 0.8rem;
    }
}

@media screen and (max-width: 600px) {

    .select-language {
        width: 3.2rem;
    }

    .img-globo {
        left: 34px;
    }

    select option {
        text-align: left;
    }

    .headerTitle1 {
        font-size: 2.1rem;
    }

    .headerP {

        font-size: 1rem;
    }

    .form-email {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    .start-button-container {
        align-self: center;
    }
}

@media only screen and (max-width: 959px) {

    .img-logo {
        width: 5.5625rem;
        height: 1.5rem;
        top: 5px;
    }

    header {
        padding: 1.5rem 2rem;
    }

    .select-language {
        margin-right: 0.3rem;

    }

    .headerTitle1 {
        font-size: 2.4rem;
    }

    .headerP {

        font-size: 1.2rem;
    }
}


@media only screen and (max-height: 760px){
    .headerTitle1  {
        font-size: 1.5rem;
    }

    .headerP {
        font-size: 13px;
    }
}

@media only screen and (min-height: 1000px) {


    .button-anchor {
        font-size: 1.4rem;
    }

    .titles {
        margin-top: 15rem;
    }

    .headerTitle1  {
        font-size: 4rem;
    }

    .headerP {
        font-size: 2rem;
    }
}

@media only screen and (max-height: 1000px) {
    .form-email {
        top: 50px;
    }

  
}

