* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background-color: rgb(227, 153, 63);
    background-image: url('./assets/IT-it-20230327-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-color: rgb(54, 54, 54);
    height: 700px;
    object-fit: cover;
    background-position: 0 70%;
    background-color: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    border-bottom: 10px solid black;

}



.titles {
    color: white;
    text-align: center;
    width: 100%;
    margin: 10rem auto 2rem;
    
}

.titles h1, .titles h2, .titles h3 {
    padding: 20px;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

h3 {
    font-size: 1.7rem;
    font-weight: 500;
}


.form-email {
    width: 45%;
    text-align: center;
    margin: auto;
    position: relative;
}

.form-email button {
    width: 20%;
    font-size: 1.5rem;
    padding: 1.2rem 1rem 0.7rem;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}



.form-email button:hover {
    background-color: rgb(176, 7, 16);
    cursor: pointer;
}


.language-button button {
    padding: 1.2rem 1rem 0.7rem;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    border-radius: 5px;
    

}

.language-button button:hover {
    background-color: rgb(176, 7, 16);
    cursor: pointer;
}

.form-email input {
    padding: 1.4rem 2rem 0.7rem;
    font-size: 1.1rem;
    width: 68%;
}

label {
    transition: 0.3s ease;
    font-size: 1rem;
    position: absolute;
    left: 4.5rem;
    top: 1.3rem;
    color: white;
    
}

 .form-email input:not(:placeholder-shown)~label {
    font-size: 14px;
    top: 3px;
} 


 .form-email input:focus {
    border: 2px solid white;
}

.form-email input:focus~label {
    font-size: 14px;
    top: 3px;
}



#netflix-logo {
    width: 250px;
    float: left;
    padding: 30px 50px;

}

.language-button {
    padding: 30px 70px 0 0;
    text-align: right;
    

}

.language-button select, .language-button button {
    margin-right: 20px;
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem;
}



.language-button select, .form-email input {
    border-radius: 5px;
    border: 1px solid rgb(129, 129, 129);
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
}


.globe-img {
    width: 20px;
    background-color: white;
}








